section.wrapper{
    text-align: center;
}
canvas {
    display: inline;
    outline: 1px solid black;
    max-height: 70vh;
    max-width: 100vw;
}

button{
    position: absolute;
    left: 50%;
    background-color: green;
    border: none;
    color: white;
    padding: 20px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 8%;
    margin-top: 20px;
}