html{
    font-family: monospace;
    outline: 1px solid black;
    padding-bottom: 10px;
    margin: 20px;
}
body{
    margin: 10px;
    outline: 1px dotted grey;
}
section{
    margin: 10px;
    outline: 1px dotted lightgrey;
}
h1{
    color: green;
}

#box{
    width: 200px;
    height: 200px;
    background-color: green;
}

#box p{
    text-align: center;
    padding-top: 20px;
}