body, html{
    margin: 0;
    padding 0;
}
div#rect{
    width: 600px;
    height: 300px;
    margin: 0 auto;
    background-color: blue;
}
div#rect:hover{
    outline: 3px dashed blue;
}
div#rect p{
    text-align: center;
    padding-top: 50px;
    color: white;
    font-family: sans-serif;
    font-size: 12px;
}

div#rect span.colourCode{
    display: block;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    color: white;
    font-size: 32px;
    padding-top: 50px;
}

div.clickBox{
    font-family: sans-serif;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    height: 300px;
    outline: 1px solid black;
}

.clickBox h4{
    text-align: center;
}

.clickBox p {
    padding: 20px;
    font-family: monospace;
}

div.character {
    width: 50px;
    height: 50px;
    background-color: turquoise;
}
